body{
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    color: #e5e7eb;
    padding-left: 400px;
    padding-right: 400px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    display: flex;
}

.headerLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    gap: 15px;
}

.headerLinks > ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.headerLinks > ul > li > a{
    text-decoration: none;
    color: #e5e7eb;
    text-align: center;
    justify-content: center;
}

.hero{
    display:flex;
    align-items: Center;
    justify-content: space-between;
    background-color: #1f2937;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 400px;
    padding-right: 400px;
}

.leftSide{
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 400px;
}

img{
    border-radius: 100px;
}

.mainText{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondaryText{
    font-size: 18px;
    color: #e5e7eb;
}

.heroButton{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: 600;
    color: #e5e7eb;
    background-color: #3882f6;
    border: 0px;
    border-radius: 5px;
    width: 100px;
}


.infoBox{
    outline: 2px solid #3882f6;
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.infoText{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 25px;
}

.information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 400px;
    padding-right: 400px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
    gap: 10px;
    padding: 25px;
}

.quoteSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 150px;
    padding-left: 400px;
    padding-right: 400px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.callToAction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6; 
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 15px;
    color: #e5e7eb;
}

.ctaText{
    display: flex;
    flex-direction: column;
}

.ctaMainText{
    font-size: x-large;
    
}

.ctaSubText{
    font-size: large;
}

.ctaButton{
    border: 2px solid #e5e7eb;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    text-align: center;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #1f2937;
    color: white;
}